body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    }

/*Header Navigation*/

.inline-block {
    display: inline-block;
    vertical-align: middle;
    text-align: middle;
    margin-top: 20px;
    margin-left: 550px;
    width: auto;
    font-weight: bold;
}

.inline-block ul li {
    display: inline-block;
    margin-right: 50px;
    vertical-align: middle;
    list-style-type: none;
    font-size: 20px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    margin-left: 80px;
}

.logo img {
    width: 80%;
}

nav {
    display: inline-block;
    width: calc(100% - 10% - 40px);
    padding: 1%;
}

ul {
    margin: 0;
    padding: 0;
}

/*Hero Space*/

.heroText {
    height: 600px;
    padding: 25px;
}

.heroText h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.green {
    color: green;
}

.content {
    width: 700px;
    margin-left: 145px;
    margin-top: 250px;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

/*Footer*/

footer {
    text-align: left;
    width: 98%;
    padding: 1%;
}

footer p,
footer ul {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 1%;
}

footer ul {
    padding-left: 0;
}

footer ul li {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    margin-left: 0px;
    margin-right: 40px;
    font-size: 18px;
}

footer p {
    font-weight: bold;
    font-size: 24px;
    margin-right: 615px;
    margin-left: 35px;
}